pre {
  background-color: #f0f0f0 !important;
}
.quarto-post{
  padding: 0 0 0.3em 0 !important;
  margin: 1em 0 0 0 !important;
}

div.quarto-post .body{
  flex-basis: 85%;
}
div.quarto-post .thumbnail{
  flex-basis: 0%;
  display: none;
}
div.quarto-post .listing-description{
  font-weight: 100;
  font-size: small;
  font-stretch: expanded;
  line-height: 150%;
}
div.abstract{
  padding-top: 1em;
  line-height: 130%;
}
div.abstract .block-title{
  margin-bottom: 0.2em;
}
section {
  margin-top: 2em;
}
.quarto-title-meta-heading{
  display: none;
}